<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.compereirowww.inventory20181">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_search_api_holo_dark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ImportActivity"
            android:label="@string/title_activity_import"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditActivity"
            android:label="@string/title_activity_detail_acivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NewNumberActivity"
            android:label="@string/title_activity_new_number"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.QRViewerActivity"
            android:label="@string/title_activity_qrfactory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.DialogActivity" />
        <activity
            android:name=".Activities.PrintableQRsFactoryActivity"
            android:label="@string/title_activity_printable_qrs_factory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ExportInventoryActivity"
            android:label="@string/title_activity_export_inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ReportActivity"
            android:label="@string/title_activity_report_acivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>