<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.compereirowww.inventory20181">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/search"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ImportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainConfigurationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NewNumberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.QRViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PrintableQRsFactoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BackUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ReportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.InventoryConfigurationActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>